.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.contact-form {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: none;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
   
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff6b6b;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4c4c;
}

@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        padding: 10px;
    }

    .btn {
        width: 100%;
    }
}